section.finances-section
  .wrapper
    .finances-section__container
      h2.finances-section__title-mobile.font-w-semi-bold.font-s-48.text-up
        | Ключевые 
        br.no-br
        | показатели 
        br.no-br
        | франшизы
      .finances-section__sub-title-mobile.font-s-24
        | На которые вы можете 
        br
        | рассчитывать на запуске агентства
      .finances-section__block
        .finances-section__block-left
          h2.finances-section__title.font-w-semi-bold.font-s-48.text-up
            | Ключевые 
            br.no-br
            | показатели 
            br.no-br
            | франшизы
          .finances-section__sub-title.font-s-24
            | На которые вы можете 
            br.no-br
            | рассчитывать на запуске агентства
          .font-s-30
            | Узнайте, какими будут 
            br
            span.font-w-semi-bold
              | ваши стартовые 
              br.no-br
              | инвестиции
          .finances-section__text.font-s-20 Скачайте финансовую модель франшизы
          form.finances-section__form(data-feedback-form)
            input(type="text" name="honeyfield" class="honeypot" style="display:none")
            input.input(type="text" name="name" autocomplete="off" placeholder="Имя")
            input.input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
            button.btn(type="submit") Скачать
        .finances-section__block-right
          .swiper-bullet
            .finances-section__cards.swiper-wrapper
              .finances-section__card.swiper-slide
                .font-w-semi-bold.font-s-32 1 870 000 ₽
                .font-s-20 ежемесячная <br> выручка
              .finances-section__card.swiper-slide
                .font-w-semi-bold.font-s-32 от 220 000 ₽
                .font-s-20 средний чек <br> одного клиента
              .finances-section__card.swiper-slide
                .font-w-semi-bold.font-s-32 556 000 ₽
                .font-s-20 ежемесячная <br> чистая прибыль
              .finances-section__card.swiper-slide
                .font-w-semi-bold.font-s-32 1,5 месяца
                .font-s-20 для запуска <br> всех процессов
              .finances-section__card.swiper-slide
                .font-w-semi-bold.font-s-32 от 9-ти сделок
                .font-s-20 будет оказываться <br> ежемесячно
              .finances-section__card.swiper-slide
                .font-w-semi-bold.font-s-32 29,8%
                .font-s-20 рентабельность <br> по чистой прибыли
            .bullet-pagination
