footer.footer
  .footer__container
    .footer__brand.font-s-16-a Франшиза <br> агентства недвижимости
    img.footer__logo(src="images/logo.png" loading="lazy" width="246" height="249" alt="logo")
    a.footer__privacy-mobile.font-s-16(href="#" data-remodal-target="privacy").agree-privacy Политика конфиденциальности
    .footer__call-me
      .btn.btn--call-me(data-remodal-target="modal-form-call-me") Заказать звонок
