header.header
  .header__container
    .header__brand.font-s-16-a Франшиза <br> агентства недвижимости
    img.header__logo(src="images/logo.png" loading="lazy" width="246" height="249" alt="logo")
    .header__call-me
      .btn.btn--call-me(data-remodal-target="modal-form-call-me") Заказать звонок
  .header__brand-mobile.font-s-16-a Франшиза агентства недвижимости
