section.reasons-section
  .wrapper
    .reasons-section__container
      h2.reasons-section__title.font-w-semi-bold.font-s-48.text-up
        | Почему 
        br.no-br
        | «КВАДРОГРАД»
      .reasons-section__sub-title.font-s-24
        span.font-w-bold 4 сильных причины 
        br
        | стать нашим партнером
      .swiper-bullet
        .reasons-section__cards.swiper-wrapper
          .reasons-section__card.swiper-slide
            .reasons-section__card-icon
            .font-s-18
              span.font-w-bold Бизнес-модель. 
              | Вы получите проверенную 
              br.no-br
              | бизнес-модель, которая уже доказала свою 
              br.no-br
              | эффективность и легко начнете зарабатывать 
              br.no-br
              | сразу после открытия
          .reasons-section__card.swiper-slide
            .reasons-section__card-icon
            .font-s-18
              span.font-w-bold Сильный маркетинг. 
              | Мы передадим вам свой 
              br.no-br
              | опыт привлечения клиентов и поделимся 
              br.no-br
              | по-настоящему рабочими маркетинговыми 
              br.no-br
              | инструментами
          .reasons-section__card.swiper-slide
            .reasons-section__card-icon
            .font-s-18
              span.font-w-bold Детальное обучение. 
              | Проведем для вас 
              br.no-br
              | и вашей команды подробное обучение 
              br.no-br
              | и поможем полностью погрузиться 
              br.no-br
              | в специфику бизнеса
          .reasons-section__card.swiper-slide
            .reasons-section__card-icon
            .font-s-18
              span.font-w-bold Быстрый старт. 
              | Предоставим все 
              br.no-br
              | необходимые данные, с помощью которых вы 
              br.no-br
              | запустите работу компании всего за 1,5 месяца
        .bullet-pagination
      .reasons-section__bottom
        .font-s-30.color-carbon
          span.font-w-semi-bold Хотите знать больше 
          br
          | о сети «КВАДРОГРАД»?
        .font-s-20 Получите подробную презентацию франшизы
        form.reasons-section__form(data-feedback-form)
          input(type="text" name="honeyfield" class="honeypot" style="display:none")
          input.input(type="text" name="name" autocomplete="off" placeholder="Имя")
          input.input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
          button.btn(type="submit") Получить
      .reasons-section__img-wrapper
        img.reasons-section__img(src="images/reasons-section-img.jpg" loading="lazy" width="560" height="620" alt="image")
