.finances-section
  background: radial-gradient(70.6% 41.23% at 11.17% 37.23%, #f5f5f5 0%, #f0f0f0 100%);

  &__container
    position relative
    z-index 1
    padding 20px 0
    text-align: center
    +above($breakpoints.sm)
      text-align: start
      padding 50px 0
    +above($breakpoints.md)
      padding 70px 0
    +above($breakpoints.xxl)
      padding 100px 0 117px
    &:after
      content: ""
      position: absolute
      z-index -1
      background: radial-gradient(388.17% 166.9% at -2.68% 8.87%, #f22222 0%, #8c1414 100%);
      width: 100vw;
      top: 107px;
      height: 130px;
      left: 35px;
      +above($breakpoints.sm)
        top: 0
        height: 562px;
        left: 470px;
      +above($breakpoints.md)
        height: 717px;
        left: 638px;
      +above($breakpoints.xxl)
        height: 903px
        left: 800px

  &__title-mobile,
  &__sub-title-mobile
    color: $color-carbon
    +above($breakpoints.sm)
      display: none

  &__sub-title-mobile
    padding 10px 0 15px

  &__block
    display: flex
    flex-direction: column-reverse
    align-items: center
    +above($breakpoints.sm)
      flex-direction: row
      align-items: flex-start
      justify-content space-between

  &__block-left,
  &__block-right
    width 100%
    +above($breakpoints.sm)
      width 363px
    +above($breakpoints.md)
      width 473px
    +above($breakpoints.xxl)
      width 580px

  &__block-left
    color: $color-carbon

  &__title,
  &__sub-title
    display: none
    +above($breakpoints.sm)
      display: block

  &__sub-title
    +above($breakpoints.sm)
      padding 20px 0 40px
    +above($breakpoints.md)
      padding 25px 0 60px
    +above($breakpoints.xxl)
      padding 30px 0 84px

  &__text
    color: rgba(11, 10, 10, 0.8)
    padding 15px 0
    +above($breakpoints.sm)
      padding 20px 0
    +above($breakpoints.md)
      padding 25px 0
    +above($breakpoints.xxl)
      padding 30px 0

  &__form
    display: flex
    flex-direction: column
    gap: 8px
    width 280px
    margin 0 auto
    +above($breakpoints.sm)
      gap: 12px
      width 220px
      margin 0
    +above($breakpoints.md)
      gap: 14px
      width 290px
    +above($breakpoints.xxl)
      gap: 17px
      width 320px

  &__cards
    +above($breakpoints.sm)
      display: flex
      flex-wrap: wrap
      gap: 10px
    +above($breakpoints.md)
      gap: 20px

  &__card
    width 280px !important
    height: 90px
    background-color #272727
    display: flex
    flex-direction: column
    justify-content space-between
    align-items: center
    padding 15px 5px
    +above($breakpoints.sm)
      align-items: flex-start
      width 176px !important
      height: 140px;
      padding: 25px 10px 20px 10px;
    +above($breakpoints.md)
      width: 226px !important;
      height: 170px
      padding 35px 10px 25px 20px
    +above($breakpoints.xxl)
      width 280px !important
      height: 220px
      padding 45px 10px 30px 36px
