.header
  &__container
    display: flex
    justify-content space-between
    align-items: center
    background-color $color-carbon
    padding 10px
    +above($breakpoints.sm)
      padding 11px 20px
    +above($breakpoints.md)
      padding 12px 30px
    +above($breakpoints.xxl)
      padding 13px 40px 14px

  &__brand
    display: none
    +above($breakpoints.sm)
      flex-basis: 40%
      display: block

  &__logo
    width 56px
    height: auto
    +above($breakpoints.sm)
      width 70px
    +above($breakpoints.md)
      width 75px
    +above($breakpoints.xxl)
      width 82px

  &__call-me
    +above($breakpoints.sm)
      flex-basis: 40%
      display: flex
      justify-content flex-end

  &__brand-mobile
    padding 4px
    background-color $color-carbon
    margin-top 2px
    text-align: center
    +above($breakpoints.sm)
      display: none
